<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myoutlibrary">

    <!--android:name=".MyApplication"
        android:theme="@style/Theme.AppCompat"-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".MainTestActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OneActivity" />
        <activity android:name=".TwoActivity" />
        <activity android:name=".ExampleActivity"/>
        <activity android:name=".DemoActivity"/>
    </application>

</manifest>